* {
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial,Helvetica,sans-serif;
}

.song-content {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 8vh;
  height: 92vh;
}

.song-content .songName {
  font-size: 5.7vw;
  font-weight: bold;
}

.song-content .singer {
  font-size: 3.5vw;
  color:#908e93;
  padding:1.2vh 0;
}

.song-content .songImg-wrapper {
  border-radius: 50%;
  width: 36vh;
  height: 36vh;
  /*background: url("https://gss0.bdstatic.com/-4o3dSag_xI4khGkpoWK1HF6hhy/baike/w%3D400/sign=15c54e6b9e2bd40742c7d2fd4b889e9c/a8773912b31bb051e4f8636b3f7adab44bede091.jpg");*/
  background-size: cover;
  filter: blur(7vw);
  margin: 5vh;
}

.song-content .songImg {
  border-radius: 50%;
  width: 36vh;
  height: 36vh;
  position: absolute;
  top: 21vh;
  left: 0;
  right:0;
  margin: 0 auto;
}

.song-content .icon {
  width: 4vw;
  height: 4vw;
  padding:10px;
  vertical-align: -0.15em;
  fill: #232323;
  overflow: hidden;
  position: absolute;
  left: 4.5vw;
  top: 2.5vw;
}

.song-content .lyrics-wrap {
  width: 60%;
  height: 19vw;
  overflow: hidden;
}


.song-content .lyrics{
  transition:all 1s ease-in-out;
}


.song-content .lyrics p {
  text-align: center;
  color: #d8d8d9;
  line-height: 6vw;
  white-space:nowrap;
  font-size: 4vw;
}

.song-content .lyrics p.active{
  color: #9a8df0;
}

.audio-controller {
  width: 80%;
  position: relative;
  height: 10vw;
  display:flex;
  align-items: center;
  margin:5vw;
  color:#c8c8c8;
  font-weight: bold;
  font-size:3vw;
}

.control-bar-wrap {
  width: 75%;
  margin: 0 auto;
  position: relative;
}

.control-bar-loaded {
  width: 100%;
  background: #cbcbcb;
  height: 0.7vw;
  position: absolute;
  left: 0;
  top: 0;
}

.control-bar-loaded::after{
  content: '';
  position: absolute;
  top: -10px;
  bottom: -10px;
  width: 100%;
}

.control-bar-played {
  width: 0%;
  background: #c3b4ed;
  height: 0.7vw;
  position: absolute;
  left: 0;
  top: 0;
}

.control-bar-played::after{
  content: '';
  background: #c3b4ed;
  position: absolute;
  left: 100%;
  transform: translate(-50%, -40%);
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  box-shadow: 0 0 20px 0 rgba(195,180,237,1);
}

.currentTime {
  position: absolute;
  left: 0;
  top: 50%;
  transform:translateY(-50%);
}

.totalTime {
  position: absolute;
  left: 100%;
  top: 50%;
  transform:translate(-100%,-50%);
}

.audio-switch{
  position: relative;
  margin-top: 3vh;
  width:78%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.audio-switch .start,.audio-switch .stop {
  vertical-align: -0.15em;
  fill: #c3b4ed;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 3px 20px 0 rgba(195,180,237,1);
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  display:none;
}

.audio-switch .start{
  width: 7vw;
  height: 7vw;
  padding:2.5vw 2.5vw 2.5vw 3.6vw;
}
.audio-switch .start.active,.audio-switch .stop.active{
  display:block;
}

.audio-switch .stop{
  width: 8vw;
  height: 8vw;
  padding:2vw 2.5vw;
}


.audio-switch .previous,.audio-switch .next {
  width: 8vw;
  height: 8vw;
  vertical-align: -0.15em;
  fill: #999999;
  overflow: hidden;
}
